.lettered-avatar{
  width: 30px;
  height: 30px;
}
.card-title-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 10px;

  .card-title-left{
    display: flex;
    align-items: baseline;
    gap: 10px;
  }
}
.link-container{
  display: flex;
  gap: 5px;
}