.extra-input-fields{
  margin-top: -15px;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.red{
  color: red;
}
.normal-margin-top{
  margin-top: 7px;
}
.input-additional-text{
  font-size: 14px;
  display: inline-block;
}
.right-side{
  margin-left: auto;
}