.modal-footer{
  justify-content: space-between;
}
.right-side{
  margin-left: auto;
}
.link-icon{
  width: 20px;
  aspect-ratio: 1;
}
.linkInput-container{
  margin-bottom: 15px;
}
.main-linkInput{
  margin-bottom: 5px;
}