@import './assets/styles/variables.scss';
@import './assets/styles/reset.scss';

.center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.fixed-button{
  position: fixed;
  bottom: 60px;
  right: 30px;
}