@import './assets/styles/variables.scss';
@import './assets/styles/reset.scss';

.center{
  display: flex;
  justify-content: center;
  align-items: center;
}
.msg{
  position: absolute;
  width: 100%;
  top: 54px;
  text-align: center;
  font-size: 10px;
}
.dropdown-pic{
   position: absolute;
   right: 20px;
}